<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hk.compass.modules.sys.mapper.SysOssMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.hk.compass.modules.sys.entity.SysOss">
        <id column="id" property="id" />
        <result column="url" property="url" />
        <result column="create_date" property="createDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, url, create_date
    </sql>

</mapper>
