<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hk.compass.modules.sys.mapper.SysUserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.hk.compass.modules.sys.entity.SysUserRole">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, role_id
    </sql>

    <select id="selectUserMenus" resultType="java.lang.String">
        select distinct sm.perms
             from sys_user_role sur
        left join sys_role_menu srm on sur.role_id = srm.role_id
        left join sys_menu sm on srm.menu_id = sm.menu_id
            where sur.user_id =  #{userId} and not ISNULL(sm.perms)
    </select>

</mapper>
